infrastructure/nifi-workflows/nifi-templates/SP06-Validator.xml
<?xml version='1.0' encoding='UTF-8'?>
<template encoding-version="1.3">
    <description>SP02 - Validator - Validazione multilivello documenti con Groq AI</description>
    <groupId>c1b2c3d4-e5f6-4a7b-8c9d-0e1f2a3b4c5d</groupId>
    <name>SP02 - Validator</name>
    <snippet>
        <processors>
            <id>22222222-0202-0202-0202-222222222222</id>
            <parentGroupId>c1b2c3d4-e5f6-4a7b-8c9d-0e1f2a3b4c5d</parentGroupId>
            <position>
                <x>400.0</x>
                <y>0.0</y>
            </position>
            <bundle>
                <artifact>nifi-standard-nar</artifact>
                <group>org.apache.nifi</group>
                <version>1.28.1</version>
            </bundle>
            <config>
                <bulletinLevel>WARN</bulletinLevel>
                <comments>Prepara richiesta validazione</comments>
                <concurrentlySchedulableTaskCount>1</concurrentlySchedulableTaskCount>
                <executionNode>ALL</executionNode>
                <lossTolerant>false</lossTolerant>
                <penaltyDuration>30 sec</penaltyDuration>
                <properties>
                    <entry>
                        <key>Regular Expression</key>
                        <value>(?s)(.*)</value>
                    </entry>
                    <entry>
                        <key>Replacement Value</key>
                        <value>{
  "model": "llama-3.3-70b-versatile",
  "messages": [
    {
      "role": "system",
      "content": "Sei un validatore esperto di atti amministrativi. Verifica:\n1. Completezza: tutte le sezioni obbligatorie presenti\n2. Coerenza: logica tra premesse e dispositivo\n3. Compliance normativa: riferimenti corretti\n4. Formale: linguaggio amministrativo appropriato\n\nRispondi in JSON: {\"valido\": boolean, \"errori\": [], \"warning\": [], \"score\": 0-100}"
    },
    {
      "role": "user",
      "content": "Valida questo documento: ${documento}"
    }
  ],
  "temperature": 0.1,
  "max_tokens": 4000
}</value>
                    </entry>
                    <entry>
                        <key>Replacement Strategy</key>
                        <value>Always Replace</value>
                    </entry>
                </properties>
                <runDurationMillis>0</runDurationMillis>
                <schedulingPeriod>0 sec</schedulingPeriod>
                <schedulingStrategy>TIMER_DRIVEN</schedulingStrategy>
                <yieldDuration>1 sec</yieldDuration>
            </config>
            <name>Prepara Validazione</name>
            <relationships>
                <autoTerminate>true</autoTerminate>
                <name>failure</name>
            </relationships>
            <relationships>
                <autoTerminate>false</autoTerminate>
                <name>success</name>
            </relationships>
            <style />
            <type>org.apache.nifi.processors.standard.ReplaceText</type>
        </processors>
        <processors>
            <id>33333333-0202-0202-0202-333333333333</id>
            <parentGroupId>c1b2c3d4-e5f6-4a7b-8c9d-0e1f2a3b4c5d</parentGroupId>
            <position>
                <x>800.0</x>
                <y>0.0</y>
            </position>
            <bundle>
                <artifact>nifi-standard-nar</artifact>
                <group>org.apache.nifi</group>
                <version>1.28.1</version>
            </bundle>
            <config>
                <bulletinLevel>WARN</bulletinLevel>
                <comments>Esegue validazione con Groq</comments>
                <concurrentlySchedulableTaskCount>1</concurrentlySchedulableTaskCount>
                <executionNode>ALL</executionNode>
                <lossTolerant>false</lossTolerant>
                <penaltyDuration>30 sec</penaltyDuration>
                <properties>
                    <entry>
                        <key>HTTP Method</key>
                        <value>POST</value>
                    </entry>
                    <entry>
                        <key>Remote URL</key>
                        <value>https://api.groq.com/openai/v1/chat/completions</value>
                    </entry>
                    <entry>
                        <key>Content-Type</key>
                        <value>application/json</value>
                    </entry>
                    <entry>
                        <key>Authorization</key>
                        <value>Bearer ${groq.api.key}</value>
                    </entry>
                    <entry>
                        <key>send-message-body</key>
                        <value>true</value>
                    </entry>
                </properties>
                <runDurationMillis>0</runDurationMillis>
                <schedulingPeriod>0 sec</schedulingPeriod>
                <schedulingStrategy>TIMER_DRIVEN</schedulingStrategy>
                <yieldDuration>1 sec</yieldDuration>
            </config>
            <name>Valida con Groq</name>
            <relationships>
                <autoTerminate>true</autoTerminate>
                <name>Retry</name>
            </relationships>
            <relationships>
                <autoTerminate>true</autoTerminate>
                <name>No Retry</name>
            </relationships>
            <relationships>
                <autoTerminate>true</autoTerminate>
                <name>Failure</name>
            </relationships>
            <relationships>
                <autoTerminate>false</autoTerminate>
                <name>Response</name>
            </relationships>
            <style />
            <type>org.apache.nifi.processors.standard.InvokeHTTP</type>
        </processors>
        <processors>
            <id>44444444-0202-0202-0202-444444444444</id>
            <parentGroupId>c1b2c3d4-e5f6-4a7b-8c9d-0e1f2a3b4c5d</parentGroupId>
            <position>
                <x>1200.0</x>
                <y>0.0</y>
            </position>
            <bundle>
                <artifact>nifi-standard-nar</artifact>
                <group>org.apache.nifi</group>
                <version>1.28.1</version>
            </bundle>
            <config>
                <bulletinLevel>WARN</bulletinLevel>
                <comments>Estrae risultati validazione</comments>
                <concurrentlySchedulableTaskCount>1</concurrentlySchedulableTaskCount>
                <executionNode>ALL</executionNode>
                <lossTolerant>false</lossTolerant>
                <penaltyDuration>30 sec</penaltyDuration>
                <properties>
                    <entry>
                        <key>Destination</key>
                        <value>flowfile-attribute</value>
                    </entry>
                    <entry>
                        <key>validation.result</key>
                        <value>$.choices[0].message.content</value>
                    </entry>
                    <entry>
                        <key>validation.valido</key>
                        <value>$.choices[0].message.content.valido</value>
                    </entry>
                    <entry>
                        <key>validation.score</key>
                        <value>$.choices[0].message.content.score</value>
                    </entry>
                </properties>
                <runDurationMillis>0</runDurationMillis>
                <schedulingPeriod>0 sec</schedulingPeriod>
                <schedulingStrategy>TIMER_DRIVEN</schedulingStrategy>
                <yieldDuration>1 sec</yieldDuration>
            </config>
            <name>Estrai Risultati</name>
            <relationships>
                <autoTerminate>true</autoTerminate>
                <name>failure</name>
            </relationships>
            <relationships>
                <autoTerminate>true</autoTerminate>
                <name>unmatched</name>
            </relationships>
            <relationships>
                <autoTerminate>false</autoTerminate>
                <name>matched</name>
            </relationships>
            <style />
            <type>org.apache.nifi.processors.standard.EvaluateJsonPath</type>
        </processors>
        <processors>
            <id>55555555-0202-0202-0202-555555555555</id>
            <parentGroupId>c1b2c3d4-e5f6-4a7b-8c9d-0e1f2a3b4c5d</parentGroupId>
            <position>
                <x>1600.0</x>
                <y>0.0</y>
            </position>
            <bundle>
                <artifact>nifi-standard-nar</artifact>
                <group>org.apache.nifi</group>
                <version>1.28.1</version>
            </bundle>
            <config>
                <bulletinLevel>WARN</bulletinLevel>
                <comments>Routing basato su validazione</comments>
                <concurrentlySchedulableTaskCount>1</concurrentlySchedulableTaskCount>
                <executionNode>ALL</executionNode>
                <lossTolerant>false</lossTolerant>
                <penaltyDuration>30 sec</penaltyDuration>
                <properties>
                    <entry>
                        <key>Routing Strategy</key>
                        <value>Route to Property name</value>
                    </entry>
                    <entry>
                        <key>VALIDO</key>
                        <value>${validation.valido:equals('true')}</value>
                    </entry>
                    <entry>
                        <key>INVALIDO</key>
                        <value>${validation.valido:equals('false')}</value>
                    </entry>
                </properties>
                <runDurationMillis>0</runDurationMillis>
                <schedulingPeriod>0 sec</schedulingPeriod>
                <schedulingStrategy>TIMER_DRIVEN</schedulingStrategy>
                <yieldDuration>1 sec</yieldDuration>
            </config>
            <name>Route Validazione</name>
            <relationships>
                <autoTerminate>true</autoTerminate>
                <name>VALIDO</name>
            </relationships>
            <relationships>
                <autoTerminate>true</autoTerminate>
                <name>INVALIDO</name>
            </relationships>
            <relationships>
                <autoTerminate>true</autoTerminate>
                <name>unmatched</name>
            </relationships>
            <style />
            <type>org.apache.nifi.processors.standard.RouteOnAttribute</type>
        </processors>
        <processors>
            <id>66666666-0202-0202-0202-666666666666</id>
            <parentGroupId>c1b2c3d4-e5f6-4a7b-8c9d-0e1f2a3b4c5d</parentGroupId>
            <position>
                <x>2000.0</x>
                <y>0.0</y>
            </position>
            <bundle>
                <artifact>nifi-standard-nar</artifact>
                <group>org.apache.nifi</group>
                <version>1.28.1</version>
            </bundle>
            <config>
                <bulletinLevel>WARN</bulletinLevel>
                <comments>Log validazione</comments>
                <concurrentlySchedulableTaskCount>1</concurrentlySchedulableTaskCount>
                <executionNode>ALL</executionNode>
                <lossTolerant>false</lossTolerant>
                <penaltyDuration>30 sec</penaltyDuration>
                <properties>
                    <entry>
                        <key>Log Level</key>
                        <value>info</value>
                    </entry>
                    <entry>
                        <key>Log Payload</key>
                        <value>false</value>
                    </entry>
                    <entry>
                        <key>Attributes to Log</key>
                        <value>validation.score,validation.valido</value>
                    </entry>
                    <entry>
                        <key>Log prefix</key>
                        <value>[SP02-VALIDATOR]</value>
                    </entry>
                </properties>
                <runDurationMillis>0</runDurationMillis>
                <schedulingPeriod>0 sec</schedulingPeriod>
                <schedulingStrategy>TIMER_DRIVEN</schedulingStrategy>
                <yieldDuration>1 sec</yieldDuration>
            </config>
            <name>Log Validazione</name>
            <relationships>
                <autoTerminate>true</autoTerminate>
                <name>success</name>
            </relationships>
            <style />
            <type>org.apache.nifi.processors.standard.LogAttribute</type>
        </processors>
        <connections>
            <id>c1111111-0202-0202-0202-111111111111</id>
            <parentGroupId>c1b2c3d4-e5f6-4a7b-8c9d-0e1f2a3b4c5d</parentGroupId>
            <backPressureDataSizeThreshold>1 GB</backPressureDataSizeThreshold>
            <backPressureObjectThreshold>10000</backPressureObjectThreshold>
            <destination>
                <groupId>c1b2c3d4-e5f6-4a7b-8c9d-0e1f2a3b4c5d</groupId>
                <id>22222222-0202-0202-0202-222222222222</id>
                <type>PROCESSOR</type>
            </destination>
            <flowFileExpiration>0 sec</flowFileExpiration>
            <labelIndex>1</labelIndex>
            <name />
            <selectedRelationships>success</selectedRelationships>
            <source>
                <groupId>c1b2c3d4-e5f6-4a7b-8c9d-0e1f2a3b4c5d</groupId>
                <id>11111111-0202-0202-0202-111111111111</id>
                <type>PROCESSOR</type>
            </source>
            <zIndex>0</zIndex>
        </connections>
        <connections>
            <id>c2222222-0202-0202-0202-222222222222</id>
            <parentGroupId>c1b2c3d4-e5f6-4a7b-8c9d-0e1f2a3b4c5d</parentGroupId>
            <backPressureDataSizeThreshold>1 GB</backPressureDataSizeThreshold>
            <backPressureObjectThreshold>10000</backPressureObjectThreshold>
            <destination>
                <groupId>c1b2c3d4-e5f6-4a7b-8c9d-0e1f2a3b4c5d</groupId>
                <id>33333333-0202-0202-0202-333333333333</id>
                <type>PROCESSOR</type>
            </destination>
            <flowFileExpiration>0 sec</flowFileExpiration>
            <labelIndex>1</labelIndex>
            <name />
            <selectedRelationships>success</selectedRelationships>
            <source>
                <groupId>c1b2c3d4-e5f6-4a7b-8c9d-0e1f2a3b4c5d</groupId>
                <id>22222222-0202-0202-0202-222222222222</id>
                <type>PROCESSOR</type>
            </source>
            <zIndex>0</zIndex>
        </connections>
        <connections>
            <id>c3333333-0202-0202-0202-333333333333</id>
            <parentGroupId>c1b2c3d4-e5f6-4a7b-8c9d-0e1f2a3b4c5d</parentGroupId>
            <backPressureDataSizeThreshold>1 GB</backPressureDataSizeThreshold>
            <backPressureObjectThreshold>10000</backPressureObjectThreshold>
            <destination>
                <groupId>c1b2c3d4-e5f6-4a7b-8c9d-0e1f2a3b4c5d</groupId>
                <id>44444444-0202-0202-0202-444444444444</id>
                <type>PROCESSOR</type>
            </destination>
            <flowFileExpiration>0 sec</flowFileExpiration>
            <labelIndex>1</labelIndex>
            <name />
            <selectedRelationships>Response</selectedRelationships>
            <source>
                <groupId>c1b2c3d4-e5f6-4a7b-8c9d-0e1f2a3b4c5d</groupId>
                <id>33333333-0202-0202-0202-333333333333</id>
                <type>PROCESSOR</type>
            </source>
            <zIndex>0</zIndex>
        </connections>
        <connections>
            <id>c4444444-0202-0202-0202-444444444444</id>
            <parentGroupId>c1b2c3d4-e5f6-4a7b-8c9d-0e1f2a3b4c5d</parentGroupId>
            <backPressureDataSizeThreshold>1 GB</backPressureDataSizeThreshold>
            <backPressureObjectThreshold>10000</backPressureObjectThreshold>
            <destination>
                <groupId>c1b2c3d4-e5f6-4a7b-8c9d-0e1f2a3b4c5d</groupId>
                <id>55555555-0202-0202-0202-555555555555</id>
                <type>PROCESSOR</type>
            </destination>
            <flowFileExpiration>0 sec</flowFileExpiration>
            <labelIndex>1</labelIndex>
            <name />
            <selectedRelationships>matched</selectedRelationships>
            <source>
                <groupId>c1b2c3d4-e5f6-4a7b-8c9d-0e1f2a3b4c5d</groupId>
                <id>44444444-0202-0202-0202-444444444444</id>
                <type>PROCESSOR</type>
            </source>
            <zIndex>0</zIndex>
        </connections>
        <connections>
            <id>c5555555-0202-0202-0202-555555555555</id>
            <parentGroupId>c1b2c3d4-e5f6-4a7b-8c9d-0e1f2a3b4c5d</parentGroupId>
            <backPressureDataSizeThreshold>1 GB</backPressureDataSizeThreshold>
            <backPressureObjectThreshold>10000</backPressureObjectThreshold>
            <destination>
                <groupId>c1b2c3d4-e5f6-4a7b-8c9d-0e1f2a3b4c5d</groupId>
                <id>66666666-0202-0202-0202-666666666666</id>
                <type>PROCESSOR</type>
            </destination>
            <flowFileExpiration>0 sec</flowFileExpiration>
            <labelIndex>1</labelIndex>
            <name />
            <selectedRelationships>VALIDO</selectedRelationships>
            <selectedRelationships>INVALIDO</selectedRelationships>
            <source>
                <groupId>c1b2c3d4-e5f6-4a7b-8c9d-0e1f2a3b4c5d</groupId>
                <id>55555555-0202-0202-0202-555555555555</id>
                <type>PROCESSOR</type>
            </source>
            <zIndex>0</zIndex>
        </connections>
    <processors><processor><id>11111111-0202-0202-0202-111111111111</id>
            <parentGroupId>c1b2c3d4-e5f6-4a7b-8c9d-0e1f2a3b4c5d</parentGroupId>
            <position>
                <x>0.0</x>
                <y>0.0</y>
            </position>
            <bundle>
                <artifact>nifi-standard-nar</artifact>
                <group>org.apache.nifi</group>
                <version>1.28.1</version>
            </bundle>
            <config>
                <bulletinLevel>WARN</bulletinLevel>
                <comments>Riceve documento da validare</comments>
                <concurrentlySchedulableTaskCount>1</concurrentlySchedulableTaskCount>
                <executionNode>ALL</executionNode>
                <lossTolerant>false</lossTolerant>
                <penaltyDuration>30 sec</penaltyDuration>
                <properties>
                    <entry>
                        <key>File Size</key>
                        <value>0B</value>
                    </entry>
                </properties>
                <runDurationMillis>0</runDurationMillis>
                <schedulingPeriod>0 sec</schedulingPeriod>
                <schedulingStrategy>TIMER_DRIVEN</schedulingStrategy>
                <yieldDuration>1 sec</yieldDuration>
            </config>
            <name>Ricevi Documento</name>
            <relationships>
                <autoTerminate>false</autoTerminate>
                <name>success</name>
            </relationships>
            <style />
            <type>org.apache.nifi.processors.standard.GenerateFlowFile</type>
        </processor></processors></snippet>
    <timestamp>10/30/2025 11:35:00 CET</timestamp>
</template>