infrastructure/nifi-workflows/nifi-templates/SP08-Quality-Checker.xml
<?xml version='1.0' encoding='UTF-8'?>
<template encoding-version="1.3">
    <description>SP05 - Quality Checker - Controllo qualità documenti con Groq AI</description>
    <groupId>e1b2c3d4-e5f6-4a7b-8c9d-0e1f2a3b4c5d</groupId>
    <name>SP05 - Quality Checker</name>
    <snippet>
        <processors>
            <id>22222222-0505-0505-0505-222222222222</id>
            <parentGroupId>e1b2c3d4-e5f6-4a7b-8c9d-0e1f2a3b4c5d</parentGroupId>
            <position>
                <x>400.0</x>
                <y>0.0</y>
            </position>
            <bundle>
                <artifact>nifi-standard-nar</artifact>
                <group>org.apache.nifi</group>
                <version>1.28.1</version>
            </bundle>
            <config>
                <bulletinLevel>WARN</bulletinLevel>
                <comments>Prepara quality check</comments>
                <concurrentlySchedulableTaskCount>1</concurrentlySchedulableTaskCount>
                <executionNode>ALL</executionNode>
                <lossTolerant>false</lossTolerant>
                <penaltyDuration>30 sec</penaltyDuration>
                <properties>
                    <entry>
                        <key>Regular Expression</key>
                        <value>(?s)(.*)</value>
                    </entry>
                    <entry>
                        <key>Replacement Value</key>
                        <value>{
  "model": "llama-3.3-70b-versatile",
  "messages": [
    {
      "role": "system",
      "content": "Sei un quality checker per documenti amministrativi. Valuta:\n1. Leggibilità (indice Gulpease 40-100)\n2. Ortografia e grammatica\n3. Coerenza stilistica\n4. Chiarezza espositiva\n5. Terminologia appropriata\n\nRispondi JSON: {\"gulpease\": int, \"errori\": [], \"suggerimenti\": [], \"quality_score\": 0-100}"
    },
    {
      "role": "user",
      "content": "Controlla qualità: ${documento}"
    }
  ],
  "temperature": 0.3,
  "max_tokens": 3000
}</value>
                    </entry>
                    <entry>
                        <key>Replacement Strategy</key>
                        <value>Always Replace</value>
                    </entry>
                </properties>
                <runDurationMillis>0</runDurationMillis>
                <schedulingPeriod>0 sec</schedulingPeriod>
                <schedulingStrategy>TIMER_DRIVEN</schedulingStrategy>
                <yieldDuration>1 sec</yieldDuration>
            </config>
            <name>Prepara QA</name>
            <relationships>
                <autoTerminate>true</autoTerminate>
                <name>failure</name>
            </relationships>
            <relationships>
                <autoTerminate>false</autoTerminate>
                <name>success</name>
            </relationships>
            <style />
            <type>org.apache.nifi.processors.standard.ReplaceText</type>
        </processors>
        <processors>
            <id>33333333-0505-0505-0505-333333333333</id>
            <parentGroupId>e1b2c3d4-e5f6-4a7b-8c9d-0e1f2a3b4c5d</parentGroupId>
            <position>
                <x>800.0</x>
                <y>0.0</y>
            </position>
            <bundle>
                <artifact>nifi-standard-nar</artifact>
                <group>org.apache.nifi</group>
                <version>1.28.1</version>
            </bundle>
            <config>
                <bulletinLevel>WARN</bulletinLevel>
                <comments>Esegue quality check con Groq</comments>
                <concurrentlySchedulableTaskCount>1</concurrentlySchedulableTaskCount>
                <executionNode>ALL</executionNode>
                <lossTolerant>false</lossTolerant>
                <penaltyDuration>30 sec</penaltyDuration>
                <properties>
                    <entry>
                        <key>HTTP Method</key>
                        <value>POST</value>
                    </entry>
                    <entry>
                        <key>Remote URL</key>
                        <value>https://api.groq.com/openai/v1/chat/completions</value>
                    </entry>
                    <entry>
                        <key>Content-Type</key>
                        <value>application/json</value>
                    </entry>
                    <entry>
                        <key>Authorization</key>
                        <value>Bearer ${groq.api.key}</value>
                    </entry>
                    <entry>
                        <key>send-message-body</key>
                        <value>true</value>
                    </entry>
                </properties>
                <runDurationMillis>0</runDurationMillis>
                <schedulingPeriod>0 sec</schedulingPeriod>
                <schedulingStrategy>TIMER_DRIVEN</schedulingStrategy>
                <yieldDuration>1 sec</yieldDuration>
            </config>
            <name>QA con Groq</name>
            <relationships>
                <autoTerminate>true</autoTerminate>
                <name>Retry</name>
            </relationships>
            <relationships>
                <autoTerminate>true</autoTerminate>
                <name>No Retry</name>
            </relationships>
            <relationships>
                <autoTerminate>true</autoTerminate>
                <name>Failure</name>
            </relationships>
            <relationships>
                <autoTerminate>false</autoTerminate>
                <name>Response</name>
            </relationships>
            <style />
            <type>org.apache.nifi.processors.standard.InvokeHTTP</type>
        </processors>
        <processors>
            <id>44444444-0505-0505-0505-444444444444</id>
            <parentGroupId>e1b2c3d4-e5f6-4a7b-8c9d-0e1f2a3b4c5d</parentGroupId>
            <position>
                <x>1200.0</x>
                <y>0.0</y>
            </position>
            <bundle>
                <artifact>nifi-standard-nar</artifact>
                <group>org.apache.nifi</group>
                <version>1.28.1</version>
            </bundle>
            <config>
                <bulletinLevel>WARN</bulletinLevel>
                <comments>Estrae metriche qualità</comments>
                <concurrentlySchedulableTaskCount>1</concurrentlySchedulableTaskCount>
                <executionNode>ALL</executionNode>
                <lossTolerant>false</lossTolerant>
                <penaltyDuration>30 sec</penaltyDuration>
                <properties>
                    <entry>
                        <key>Destination</key>
                        <value>flowfile-attribute</value>
                    </entry>
                    <entry>
                        <key>quality.gulpease</key>
                        <value>$.choices[0].message.content.gulpease</value>
                    </entry>
                    <entry>
                        <key>quality.score</key>
                        <value>$.choices[0].message.content.quality_score</value>
                    </entry>
                    <entry>
                        <key>quality.report</key>
                        <value>$.choices[0].message.content</value>
                    </entry>
                </properties>
                <runDurationMillis>0</runDurationMillis>
                <schedulingPeriod>0 sec</schedulingPeriod>
                <schedulingStrategy>TIMER_DRIVEN</schedulingStrategy>
                <yieldDuration>1 sec</yieldDuration>
            </config>
            <name>Estrai Metriche</name>
            <relationships>
                <autoTerminate>true</autoTerminate>
                <name>failure</name>
            </relationships>
            <relationships>
                <autoTerminate>true</autoTerminate>
                <name>unmatched</name>
            </relationships>
            <relationships>
                <autoTerminate>false</autoTerminate>
                <name>matched</name>
            </relationships>
            <style />
            <type>org.apache.nifi.processors.standard.EvaluateJsonPath</type>
        </processors>
        <processors>
            <id>55555555-0505-0505-0505-555555555555</id>
            <parentGroupId>e1b2c3d4-e5f6-4a7b-8c9d-0e1f2a3b4c5d</parentGroupId>
            <position>
                <x>1600.0</x>
                <y>0.0</y>
            </position>
            <bundle>
                <artifact>nifi-standard-nar</artifact>
                <group>org.apache.nifi</group>
                <version>1.28.1</version>
            </bundle>
            <config>
                <bulletinLevel>WARN</bulletinLevel>
                <comments>Routing qualità</comments>
                <concurrentlySchedulableTaskCount>1</concurrentlySchedulableTaskCount>
                <executionNode>ALL</executionNode>
                <lossTolerant>false</lossTolerant>
                <penaltyDuration>30 sec</penaltyDuration>
                <properties>
                    <entry>
                        <key>Routing Strategy</key>
                        <value>Route to Property name</value>
                    </entry>
                    <entry>
                        <key>ALTA_QUALITA</key>
                        <value>${quality.score:ge(80)}</value>
                    </entry>
                    <entry>
                        <key>MEDIA_QUALITA</key>
                        <value>${quality.score:ge(60):and(${quality.score:lt(80)})}</value>
                    </entry>
                    <entry>
                        <key>BASSA_QUALITA</key>
                        <value>${quality.score:lt(60)}</value>
                    </entry>
                </properties>
                <runDurationMillis>0</runDurationMillis>
                <schedulingPeriod>0 sec</schedulingPeriod>
                <schedulingStrategy>TIMER_DRIVEN</schedulingStrategy>
                <yieldDuration>1 sec</yieldDuration>
            </config>
            <name>Route Qualità</name>
            <relationships>
                <autoTerminate>true</autoTerminate>
                <name>ALTA_QUALITA</name>
            </relationships>
            <relationships>
                <autoTerminate>true</autoTerminate>
                <name>MEDIA_QUALITA</name>
            </relationships>
            <relationships>
                <autoTerminate>true</autoTerminate>
                <name>BASSA_QUALITA</name>
            </relationships>
            <relationships>
                <autoTerminate>true</autoTerminate>
                <name>unmatched</name>
            </relationships>
            <style />
            <type>org.apache.nifi.processors.standard.RouteOnAttribute</type>
        </processors>
        <processors>
            <id>66666666-0505-0505-0505-666666666666</id>
            <parentGroupId>e1b2c3d4-e5f6-4a7b-8c9d-0e1f2a3b4c5d</parentGroupId>
            <position>
                <x>2000.0</x>
                <y>0.0</y>
            </position>
            <bundle>
                <artifact>nifi-standard-nar</artifact>
                <group>org.apache.nifi</group>
                <version>1.28.1</version>
            </bundle>
            <config>
                <bulletinLevel>WARN</bulletinLevel>
                <comments>Log quality metrics</comments>
                <concurrentlySchedulableTaskCount>1</concurrentlySchedulableTaskCount>
                <executionNode>ALL</executionNode>
                <lossTolerant>false</lossTolerant>
                <penaltyDuration>30 sec</penaltyDuration>
                <properties>
                    <entry>
                        <key>Log Level</key>
                        <value>info</value>
                    </entry>
                    <entry>
                        <key>Log Payload</key>
                        <value>false</value>
                    </entry>
                    <entry>
                        <key>Attributes to Log</key>
                        <value>quality.gulpease,quality.score</value>
                    </entry>
                    <entry>
                        <key>Log prefix</key>
                        <value>[SP05-QUALITY-CHECKER]</value>
                    </entry>
                </properties>
                <runDurationMillis>0</runDurationMillis>
                <schedulingPeriod>0 sec</schedulingPeriod>
                <schedulingStrategy>TIMER_DRIVEN</schedulingStrategy>
                <yieldDuration>1 sec</yieldDuration>
            </config>
            <name>Log QA</name>
            <relationships>
                <autoTerminate>true</autoTerminate>
                <name>success</name>
            </relationships>
            <style />
            <type>org.apache.nifi.processors.standard.LogAttribute</type>
        </processors>
        <connections>
            <id>c1111111-0505-0505-0505-111111111111</id>
            <parentGroupId>e1b2c3d4-e5f6-4a7b-8c9d-0e1f2a3b4c5d</parentGroupId>
            <backPressureDataSizeThreshold>1 GB</backPressureDataSizeThreshold>
            <backPressureObjectThreshold>10000</backPressureObjectThreshold>
            <destination>
                <groupId>e1b2c3d4-e5f6-4a7b-8c9d-0e1f2a3b4c5d</groupId>
                <id>22222222-0505-0505-0505-222222222222</id>
                <type>PROCESSOR</type>
            </destination>
            <flowFileExpiration>0 sec</flowFileExpiration>
            <labelIndex>1</labelIndex>
            <name />
            <selectedRelationships>success</selectedRelationships>
            <source>
                <groupId>e1b2c3d4-e5f6-4a7b-8c9d-0e1f2a3b4c5d</groupId>
                <id>11111111-0505-0505-0505-111111111111</id>
                <type>PROCESSOR</type>
            </source>
            <zIndex>0</zIndex>
        </connections>
        <connections>
            <id>c2222222-0505-0505-0505-222222222222</id>
            <parentGroupId>e1b2c3d4-e5f6-4a7b-8c9d-0e1f2a3b4c5d</parentGroupId>
            <backPressureDataSizeThreshold>1 GB</backPressureDataSizeThreshold>
            <backPressureObjectThreshold>10000</backPressureObjectThreshold>
            <destination>
                <groupId>e1b2c3d4-e5f6-4a7b-8c9d-0e1f2a3b4c5d</groupId>
                <id>33333333-0505-0505-0505-333333333333</id>
                <type>PROCESSOR</type>
            </destination>
            <flowFileExpiration>0 sec</flowFileExpiration>
            <labelIndex>1</labelIndex>
            <name />
            <selectedRelationships>success</selectedRelationships>
            <source>
                <groupId>e1b2c3d4-e5f6-4a7b-8c9d-0e1f2a3b4c5d</groupId>
                <id>22222222-0505-0505-0505-222222222222</id>
                <type>PROCESSOR</type>
            </source>
            <zIndex>0</zIndex>
        </connections>
        <connections>
            <id>c3333333-0505-0505-0505-333333333333</id>
            <parentGroupId>e1b2c3d4-e5f6-4a7b-8c9d-0e1f2a3b4c5d</parentGroupId>
            <backPressureDataSizeThreshold>1 GB</backPressureDataSizeThreshold>
            <backPressureObjectThreshold>10000</backPressureObjectThreshold>
            <destination>
                <groupId>e1b2c3d4-e5f6-4a7b-8c9d-0e1f2a3b4c5d</groupId>
                <id>44444444-0505-0505-0505-444444444444</id>
                <type>PROCESSOR</type>
            </destination>
            <flowFileExpiration>0 sec</flowFileExpiration>
            <labelIndex>1</labelIndex>
            <name />
            <selectedRelationships>Response</selectedRelationships>
            <source>
                <groupId>e1b2c3d4-e5f6-4a7b-8c9d-0e1f2a3b4c5d</groupId>
                <id>33333333-0505-0505-0505-333333333333</id>
                <type>PROCESSOR</type>
            </source>
            <zIndex>0</zIndex>
        </connections>
        <connections>
            <id>c4444444-0505-0505-0505-444444444444</id>
            <parentGroupId>e1b2c3d4-e5f6-4a7b-8c9d-0e1f2a3b4c5d</parentGroupId>
            <backPressureDataSizeThreshold>1 GB</backPressureDataSizeThreshold>
            <backPressureObjectThreshold>10000</backPressureObjectThreshold>
            <destination>
                <groupId>e1b2c3d4-e5f6-4a7b-8c9d-0e1f2a3b4c5d</groupId>
                <id>55555555-0505-0505-0505-555555555555</id>
                <type>PROCESSOR</type>
            </destination>
            <flowFileExpiration>0 sec</flowFileExpiration>
            <labelIndex>1</labelIndex>
            <name />
            <selectedRelationships>matched</selectedRelationships>
            <source>
                <groupId>e1b2c3d4-e5f6-4a7b-8c9d-0e1f2a3b4c5d</groupId>
                <id>44444444-0505-0505-0505-444444444444</id>
                <type>PROCESSOR</type>
            </source>
            <zIndex>0</zIndex>
        </connections>
        <connections>
            <id>c5555555-0505-0505-0505-555555555555</id>
            <parentGroupId>e1b2c3d4-e5f6-4a7b-8c9d-0e1f2a3b4c5d</parentGroupId>
            <backPressureDataSizeThreshold>1 GB</backPressureDataSizeThreshold>
            <backPressureObjectThreshold>10000</backPressureObjectThreshold>
            <destination>
                <groupId>e1b2c3d4-e5f6-4a7b-8c9d-0e1f2a3b4c5d</groupId>
                <id>66666666-0505-0505-0505-666666666666</id>
                <type>PROCESSOR</type>
            </destination>
            <flowFileExpiration>0 sec</flowFileExpiration>
            <labelIndex>1</labelIndex>
            <name />
            <selectedRelationships>ALTA_QUALITA</selectedRelationships>
            <selectedRelationships>MEDIA_QUALITA</selectedRelationships>
            <selectedRelationships>BASSA_QUALITA</selectedRelationships>
            <source>
                <groupId>e1b2c3d4-e5f6-4a7b-8c9d-0e1f2a3b4c5d</groupId>
                <id>55555555-0505-0505-0505-555555555555</id>
                <type>PROCESSOR</type>
            </source>
            <zIndex>0</zIndex>
        </connections>
    <processors><processor><id>11111111-0505-0505-0505-111111111111</id>
            <parentGroupId>e1b2c3d4-e5f6-4a7b-8c9d-0e1f2a3b4c5d</parentGroupId>
            <position>
                <x>0.0</x>
                <y>0.0</y>
            </position>
            <bundle>
                <artifact>nifi-standard-nar</artifact>
                <group>org.apache.nifi</group>
                <version>1.28.1</version>
            </bundle>
            <config>
                <bulletinLevel>WARN</bulletinLevel>
                <comments>Riceve documento per QA</comments>
                <concurrentlySchedulableTaskCount>1</concurrentlySchedulableTaskCount>
                <executionNode>ALL</executionNode>
                <lossTolerant>false</lossTolerant>
                <penaltyDuration>30 sec</penaltyDuration>
                <properties>
                    <entry>
                        <key>File Size</key>
                        <value>0B</value>
                    </entry>
                </properties>
                <runDurationMillis>0</runDurationMillis>
                <schedulingPeriod>0 sec</schedulingPeriod>
                <schedulingStrategy>TIMER_DRIVEN</schedulingStrategy>
                <yieldDuration>1 sec</yieldDuration>
            </config>
            <name>Ricevi Documento</name>
            <relationships>
                <autoTerminate>false</autoTerminate>
                <name>success</name>
            </relationships>
            <style />
            <type>org.apache.nifi.processors.standard.GenerateFlowFile</type>
        </processor></processors></snippet>
    <timestamp>10/30/2025 11:45:00 CET</timestamp>
</template>