infrastructure/nifi-workflows/nifi-templates/SP11-Security-Audit.xml
<?xml version='1.0' encoding='UTF-8'?>
<template encoding-version="1.3">
    <description>SP08 - Security Audit - Audit trail e tracciamento sicurezza</description>
    <groupId>f1b2c3d4-e5f6-4a7b-8c9d-0e1f2a3b4c5d</groupId>
    <name>SP08 - Security Audit</name>
    <snippet>
        <processors>
            <id>22222222-0808-0808-0808-222222222222</id>
            <parentGroupId>f1b2c3d4-e5f6-4a7b-8c9d-0e1f2a3b4c5d</parentGroupId>
            <position>
                <x>400.0</x>
                <y>0.0</y>
            </position>
            <bundle>
                <artifact>nifi-update-attribute-nar</artifact>
                <group>org.apache.nifi</group>
                <version>1.28.1</version>
            </bundle>
            <config>
                <bulletinLevel>WARN</bulletinLevel>
                <comments>Arricchisce evento audit</comments>
                <concurrentlySchedulableTaskCount>1</concurrentlySchedulableTaskCount>
                <executionNode>ALL</executionNode>
                <lossTolerant>false</lossTolerant>
                <penaltyDuration>30 sec</penaltyDuration>
                <properties>
                    <entry>
                        <key>audit.timestamp</key>
                        <value>${now():format('yyyy-MM-dd HH:mm:ss')}</value>
                    </entry>
                    <entry>
                        <key>audit.host</key>
                        <value>${hostname()}</value>
                    </entry>
                    <entry>
                        <key>audit.flow_id</key>
                        <value>${uuid}</value>
                    </entry>
                </properties>
                <runDurationMillis>0</runDurationMillis>
                <schedulingPeriod>0 sec</schedulingPeriod>
                <schedulingStrategy>TIMER_DRIVEN</schedulingStrategy>
                <yieldDuration>1 sec</yieldDuration>
            </config>
            <name>Arricchisci Evento</name>
            <relationships>
                <autoTerminate>true</autoTerminate>
                <name>failure</name>
            </relationships>
            <relationships>
                <autoTerminate>false</autoTerminate>
                <name>success</name>
            </relationships>
            <style />
            <type>org.apache.nifi.processors.attributes.UpdateAttribute</type>
        </processors>
        <processors>
            <id>33333333-0808-0808-0808-333333333333</id>
            <parentGroupId>f1b2c3d4-e5f6-4a7b-8c9d-0e1f2a3b4c5d</parentGroupId>
            <position>
                <x>800.0</x>
                <y>0.0</y>
            </position>
            <bundle>
                <artifact>nifi-security-utils-nar</artifact>
                <group>org.apache.nifi</group>
                <version>1.28.1</version>
            </bundle>
            <config>
                <bulletinLevel>WARN</bulletinLevel>
                <comments>Calcola hash SHA-256</comments>
                <concurrentlySchedulableTaskCount>1</concurrentlySchedulableTaskCount>
                <executionNode>ALL</executionNode>
                <lossTolerant>false</lossTolerant>
                <penaltyDuration>30 sec</penaltyDuration>
                <properties>
                    <entry>
                        <key>Hash Algorithm</key>
                        <value>SHA-256</value>
                    </entry>
                    <entry>
                        <key>Hash Attribute Name</key>
                        <value>audit.hash</value>
                    </entry>
                </properties>
                <runDurationMillis>0</runDurationMillis>
                <schedulingPeriod>0 sec</schedulingPeriod>
                <schedulingStrategy>TIMER_DRIVEN</schedulingStrategy>
                <yieldDuration>1 sec</yieldDuration>
            </config>
            <name>Calcola Hash</name>
            <relationships>
                <autoTerminate>true</autoTerminate>
                <name>failure</name>
            </relationships>
            <relationships>
                <autoTerminate>false</autoTerminate>
                <name>success</name>
            </relationships>
            <style />
            <type>org.apache.nifi.processors.standard.HashContent</type>
        </processors>
        <processors>
            <id>44444444-0808-0808-0808-444444444444</id>
            <parentGroupId>f1b2c3d4-e5f6-4a7b-8c9d-0e1f2a3b4c5d</parentGroupId>
            <position>
                <x>1200.0</x>
                <y>0.0</y>
            </position>
            <bundle>
                <artifact>nifi-standard-nar</artifact>
                <group>org.apache.nifi</group>
                <version>1.28.1</version>
            </bundle>
            <config>
                <bulletinLevel>WARN</bulletinLevel>
                <comments>Formatta evento JSON</comments>
                <concurrentlySchedulableTaskCount>1</concurrentlySchedulableTaskCount>
                <executionNode>ALL</executionNode>
                <lossTolerant>false</lossTolerant>
                <penaltyDuration>30 sec</penaltyDuration>
                <properties>
                    <entry>
                        <key>Regular Expression</key>
                        <value>(?s)(.*)</value>
                    </entry>
                    <entry>
                        <key>Replacement Value</key>
                        <value>{
  "timestamp": "${audit.timestamp}",
  "event_type": "${audit.event_type}",
  "user": "${audit.user}",
  "action": "${audit.action}",
  "resource": "${audit.resource}",
  "result": "${audit.result}",
  "host": "${audit.host}",
  "flow_id": "${audit.flow_id}",
  "hash": "${audit.hash}",
  "details": "$1"
}</value>
                    </entry>
                    <entry>
                        <key>Replacement Strategy</key>
                        <value>Always Replace</value>
                    </entry>
                </properties>
                <runDurationMillis>0</runDurationMillis>
                <schedulingPeriod>0 sec</schedulingPeriod>
                <schedulingStrategy>TIMER_DRIVEN</schedulingStrategy>
                <yieldDuration>1 sec</yieldDuration>
            </config>
            <name>Formatta JSON</name>
            <relationships>
                <autoTerminate>true</autoTerminate>
                <name>failure</name>
            </relationships>
            <relationships>
                <autoTerminate>false</autoTerminate>
                <name>success</name>
            </relationships>
            <style />
            <type>org.apache.nifi.processors.standard.ReplaceText</type>
        </processors>
        <processors>
            <id>55555555-0808-0808-0808-555555555555</id>
            <parentGroupId>f1b2c3d4-e5f6-4a7b-8c9d-0e1f2a3b4c5d</parentGroupId>
            <position>
                <x>1600.0</x>
                <y>0.0</y>
            </position>
            <bundle>
                <artifact>nifi-standard-nar</artifact>
                <group>org.apache.nifi</group>
                <version>1.28.1</version>
            </bundle>
            <config>
                <bulletinLevel>WARN</bulletinLevel>
                <comments>Log append-only audit</comments>
                <concurrentlySchedulableTaskCount>1</concurrentlySchedulableTaskCount>
                <executionNode>ALL</executionNode>
                <lossTolerant>false</lossTolerant>
                <penaltyDuration>30 sec</penaltyDuration>
                <properties>
                    <entry>
                        <key>Log Level</key>
                        <value>info</value>
                    </entry>
                    <entry>
                        <key>Log Payload</key>
                        <value>true</value>
                    </entry>
                    <entry>
                        <key>Attributes to Log</key>
                        <value>audit.timestamp,audit.user,audit.action,audit.hash</value>
                    </entry>
                    <entry>
                        <key>Log prefix</key>
                        <value>[SP08-SECURITY-AUDIT]</value>
                    </entry>
                </properties>
                <runDurationMillis>0</runDurationMillis>
                <schedulingPeriod>0 sec</schedulingPeriod>
                <schedulingStrategy>TIMER_DRIVEN</schedulingStrategy>
                <yieldDuration>1 sec</yieldDuration>
            </config>
            <name>Log Audit</name>
            <relationships>
                <autoTerminate>false</autoTerminate>
                <name>success</name>
            </relationships>
            <style />
            <type>org.apache.nifi.processors.standard.LogAttribute</type>
        </processors>
        <processors>
            <id>66666666-0808-0808-0808-666666666666</id>
            <parentGroupId>f1b2c3d4-e5f6-4a7b-8c9d-0e1f2a3b4c5d</parentGroupId>
            <position>
                <x>2000.0</x>
                <y>0.0</y>
            </position>
            <bundle>
                <artifact>nifi-standard-nar</artifact>
                <group>org.apache.nifi</group>
                <version>1.28.1</version>
            </bundle>
            <config>
                <bulletinLevel>WARN</bulletinLevel>
                <comments>Routing eventi critici</comments>
                <concurrentlySchedulableTaskCount>1</concurrentlySchedulableTaskCount>
                <executionNode>ALL</executionNode>
                <lossTolerant>false</lossTolerant>
                <penaltyDuration>30 sec</penaltyDuration>
                <properties>
                    <entry>
                        <key>Routing Strategy</key>
                        <value>Route to Property name</value>
                    </entry>
                    <entry>
                        <key>CRITICAL</key>
                        <value>${audit.severity:equals('CRITICAL')}</value>
                    </entry>
                    <entry>
                        <key>HIGH</key>
                        <value>${audit.severity:equals('HIGH')}</value>
                    </entry>
                    <entry>
                        <key>NORMAL</key>
                        <value>${audit.severity:equals('NORMAL')}</value>
                    </entry>
                </properties>
                <runDurationMillis>0</runDurationMillis>
                <schedulingPeriod>0 sec</schedulingPeriod>
                <schedulingStrategy>TIMER_DRIVEN</schedulingStrategy>
                <yieldDuration>1 sec</yieldDuration>
            </config>
            <name>Route Severity</name>
            <relationships>
                <autoTerminate>true</autoTerminate>
                <name>CRITICAL</name>
            </relationships>
            <relationships>
                <autoTerminate>true</autoTerminate>
                <name>HIGH</name>
            </relationships>
            <relationships>
                <autoTerminate>true</autoTerminate>
                <name>NORMAL</name>
            </relationships>
            <relationships>
                <autoTerminate>true</autoTerminate>
                <name>unmatched</name>
            </relationships>
            <style />
            <type>org.apache.nifi.processors.standard.RouteOnAttribute</type>
        </processors>
        <processors>
            <id>77777777-0808-0808-0808-777777777777</id>
            <parentGroupId>f1b2c3d4-e5f6-4a7b-8c9d-0e1f2a3b4c5d</parentGroupId>
            <position>
                <x>2400.0</x>
                <y>0.0</y>
            </position>
            <bundle>
                <artifact>nifi-standard-nar</artifact>
                <group>org.apache.nifi</group>
                <version>1.28.1</version>
            </bundle>
            <config>
                <bulletinLevel>WARN</bulletinLevel>
                <comments>Alert eventi critici</comments>
                <concurrentlySchedulableTaskCount>1</concurrentlySchedulableTaskCount>
                <executionNode>ALL</executionNode>
                <lossTolerant>false</lossTolerant>
                <penaltyDuration>30 sec</penaltyDuration>
                <properties>
                    <entry>
                        <key>Log Level</key>
                        <value>error</value>
                    </entry>
                    <entry>
                        <key>Log Payload</key>
                        <value>true</value>
                    </entry>
                    <entry>
                        <key>Attributes to Log</key>
                        <value>audit.timestamp,audit.user,audit.action,audit.severity</value>
                    </entry>
                    <entry>
                        <key>Log prefix</key>
                        <value>[CRITICAL-AUDIT-ALERT]</value>
                    </entry>
                </properties>
                <runDurationMillis>0</runDurationMillis>
                <schedulingPeriod>0 sec</schedulingPeriod>
                <schedulingStrategy>TIMER_DRIVEN</schedulingStrategy>
                <yieldDuration>1 sec</yieldDuration>
            </config>
            <name>Alert Critici</name>
            <relationships>
                <autoTerminate>true</autoTerminate>
                <name>success</name>
            </relationships>
            <style />
            <type>org.apache.nifi.processors.standard.LogAttribute</type>
        </processors>
        <connections>
            <id>c1111111-0808-0808-0808-111111111111</id>
            <parentGroupId>f1b2c3d4-e5f6-4a7b-8c9d-0e1f2a3b4c5d</parentGroupId>
            <backPressureDataSizeThreshold>1 GB</backPressureDataSizeThreshold>
            <backPressureObjectThreshold>10000</backPressureObjectThreshold>
            <destination>
                <groupId>f1b2c3d4-e5f6-4a7b-8c9d-0e1f2a3b4c5d</groupId>
                <id>22222222-0808-0808-0808-222222222222</id>
                <type>PROCESSOR</type>
            </destination>
            <flowFileExpiration>0 sec</flowFileExpiration>
            <labelIndex>1</labelIndex>
            <name />
            <selectedRelationships>success</selectedRelationships>
            <source>
                <groupId>f1b2c3d4-e5f6-4a7b-8c9d-0e1f2a3b4c5d</groupId>
                <id>11111111-0808-0808-0808-111111111111</id>
                <type>PROCESSOR</type>
            </source>
            <zIndex>0</zIndex>
        </connections>
        <connections>
            <id>c2222222-0808-0808-0808-222222222222</id>
            <parentGroupId>f1b2c3d4-e5f6-4a7b-8c9d-0e1f2a3b4c5d</parentGroupId>
            <backPressureDataSizeThreshold>1 GB</backPressureDataSizeThreshold>
            <backPressureObjectThreshold>10000</backPressureObjectThreshold>
            <destination>
                <groupId>f1b2c3d4-e5f6-4a7b-8c9d-0e1f2a3b4c5d</groupId>
                <id>33333333-0808-0808-0808-333333333333</id>
                <type>PROCESSOR</type>
            </destination>
            <flowFileExpiration>0 sec</flowFileExpiration>
            <labelIndex>1</labelIndex>
            <name />
            <selectedRelationships>success</selectedRelationships>
            <source>
                <groupId>f1b2c3d4-e5f6-4a7b-8c9d-0e1f2a3b4c5d</groupId>
                <id>22222222-0808-0808-0808-222222222222</id>
                <type>PROCESSOR</type>
            </source>
            <zIndex>0</zIndex>
        </connections>
        <connections>
            <id>c3333333-0808-0808-0808-333333333333</id>
            <parentGroupId>f1b2c3d4-e5f6-4a7b-8c9d-0e1f2a3b4c5d</parentGroupId>
            <backPressureDataSizeThreshold>1 GB</backPressureDataSizeThreshold>
            <backPressureObjectThreshold>10000</backPressureObjectThreshold>
            <destination>
                <groupId>f1b2c3d4-e5f6-4a7b-8c9d-0e1f2a3b4c5d</groupId>
                <id>44444444-0808-0808-0808-444444444444</id>
                <type>PROCESSOR</type>
            </destination>
            <flowFileExpiration>0 sec</flowFileExpiration>
            <labelIndex>1</labelIndex>
            <name />
            <selectedRelationships>success</selectedRelationships>
            <source>
                <groupId>f1b2c3d4-e5f6-4a7b-8c9d-0e1f2a3b4c5d</groupId>
                <id>33333333-0808-0808-0808-333333333333</id>
                <type>PROCESSOR</type>
            </source>
            <zIndex>0</zIndex>
        </connections>
        <connections>
            <id>c4444444-0808-0808-0808-444444444444</id>
            <parentGroupId>f1b2c3d4-e5f6-4a7b-8c9d-0e1f2a3b4c5d</parentGroupId>
            <backPressureDataSizeThreshold>1 GB</backPressureDataSizeThreshold>
            <backPressureObjectThreshold>10000</backPressureObjectThreshold>
            <destination>
                <groupId>f1b2c3d4-e5f6-4a7b-8c9d-0e1f2a3b4c5d</groupId>
                <id>55555555-0808-0808-0808-555555555555</id>
                <type>PROCESSOR</type>
            </destination>
            <flowFileExpiration>0 sec</flowFileExpiration>
            <labelIndex>1</labelIndex>
            <name />
            <selectedRelationships>success</selectedRelationships>
            <source>
                <groupId>f1b2c3d4-e5f6-4a7b-8c9d-0e1f2a3b4c5d</groupId>
                <id>44444444-0808-0808-0808-444444444444</id>
                <type>PROCESSOR</type>
            </source>
            <zIndex>0</zIndex>
        </connections>
        <connections>
            <id>c5555555-0808-0808-0808-555555555555</id>
            <parentGroupId>f1b2c3d4-e5f6-4a7b-8c9d-0e1f2a3b4c5d</parentGroupId>
            <backPressureDataSizeThreshold>1 GB</backPressureDataSizeThreshold>
            <backPressureObjectThreshold>10000</backPressureObjectThreshold>
            <destination>
                <groupId>f1b2c3d4-e5f6-4a7b-8c9d-0e1f2a3b4c5d</groupId>
                <id>66666666-0808-0808-0808-666666666666</id>
                <type>PROCESSOR</type>
            </destination>
            <flowFileExpiration>0 sec</flowFileExpiration>
            <labelIndex>1</labelIndex>
            <name />
            <selectedRelationships>success</selectedRelationships>
            <source>
                <groupId>f1b2c3d4-e5f6-4a7b-8c9d-0e1f2a3b4c5d</groupId>
                <id>55555555-0808-0808-0808-555555555555</id>
                <type>PROCESSOR</type>
            </source>
            <zIndex>0</zIndex>
        </connections>
        <connections>
            <id>c6666666-0808-0808-0808-666666666666</id>
            <parentGroupId>f1b2c3d4-e5f6-4a7b-8c9d-0e1f2a3b4c5d</parentGroupId>
            <backPressureDataSizeThreshold>1 GB</backPressureDataSizeThreshold>
            <backPressureObjectThreshold>10000</backPressureObjectThreshold>
            <destination>
                <groupId>f1b2c3d4-e5f6-4a7b-8c9d-0e1f2a3b4c5d</groupId>
                <id>77777777-0808-0808-0808-777777777777</id>
                <type>PROCESSOR</type>
            </destination>
            <flowFileExpiration>0 sec</flowFileExpiration>
            <labelIndex>1</labelIndex>
            <name />
            <selectedRelationships>CRITICAL</selectedRelationships>
            <source>
                <groupId>f1b2c3d4-e5f6-4a7b-8c9d-0e1f2a3b4c5d</groupId>
                <id>66666666-0808-0808-0808-666666666666</id>
                <type>PROCESSOR</type>
            </source>
            <zIndex>0</zIndex>
        </connections>
    <processors><processor><id>11111111-0808-0808-0808-111111111111</id>
            <parentGroupId>f1b2c3d4-e5f6-4a7b-8c9d-0e1f2a3b4c5d</parentGroupId>
            <position>
                <x>0.0</x>
                <y>0.0</y>
            </position>
            <bundle>
                <artifact>nifi-standard-nar</artifact>
                <group>org.apache.nifi</group>
                <version>1.28.1</version>
            </bundle>
            <config>
                <bulletinLevel>WARN</bulletinLevel>
                <comments>Riceve evento da auditare</comments>
                <concurrentlySchedulableTaskCount>1</concurrentlySchedulableTaskCount>
                <executionNode>ALL</executionNode>
                <lossTolerant>false</lossTolerant>
                <penaltyDuration>30 sec</penaltyDuration>
                <properties>
                    <entry>
                        <key>File Size</key>
                        <value>0B</value>
                    </entry>
                </properties>
                <runDurationMillis>0</runDurationMillis>
                <schedulingPeriod>0 sec</schedulingPeriod>
                <schedulingStrategy>TIMER_DRIVEN</schedulingStrategy>
                <yieldDuration>1 sec</yieldDuration>
            </config>
            <name>Ricevi Evento</name>
            <relationships>
                <autoTerminate>false</autoTerminate>
                <name>success</name>
            </relationships>
            <style />
            <type>org.apache.nifi.processors.standard.GenerateFlowFile</type>
        </processor></processors></snippet>
    <timestamp>10/30/2025 11:50:00 CET</timestamp>
</template>